/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.nav-tabs > li > a {
  border-bottom-color: #ddd;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a:hover.active,
.nav-tabs > li > a:focus.active {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
