$grey-faded: #f7f7f9;
$grey-darker: #222324;
$grey-dark: #373a3c;
$grey-darkish: #69707a;
$grey: #aeb1b5;
$grey-light: #d3d6db;
$grey-lighter: #f5f7fa;
$blue: #42afe3;
$green: #97cd76;
$orange: #f68b39;
$purple: #847bb9;
$red: #ed6c63;
$turquoise: #1fc8db;
$yellow: #fce473;
$primary: $turquoise;

// wine colors
$red-wine: rgb(161, 17, 34);
$rose-wine: #e68fac;
$white-wine: #ffea00;

header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-faded {
  background-color: $grey-lighter;
}

.is-red-wine {
  background-color: $red-wine;
  color: white;
}
.is-rose-wine {
  background-color: $rose-wine;
}
.is-white-wine {
  background-color: $white-wine;
}

.is-clickable {
  cursor: pointer;
}

.is-bordered {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.is-full-width {
  width: 100%;
}

.cellar-box {
  min-height: 250px;

  &.is-disabled {
    background-color: $grey-lighter;
  }
  &.is-full-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-top {
    padding: 10px;
    color: $grey-faded;
    padding-top: 20%;
    background-color: $grey-dark;
    display: flex;
    flex-direction: column-reverse;
    height: 8.5rem;
    h3 {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.cellar-header {
  border: none;
  color: $grey-light;
  font-weight: 800;
  font-size: 1.8em;
  margin-bottom: 5px;

  &.is-full-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cellar-row-header {
  border: none;
  color: $grey-light;
  font-weight: 800;
  font-size: 1.8em;
  margin-right: 10px;

  &.is-full-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//
// Basic progress bar
//

.progress {
  height: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}

.color-label {
  margin-left: 1em;
  margin-right: 1em;
  line-height: 1.1em;
  position: relative;
  top: 2px;
}

.btn .color-label {
  top: 2px;
}

.form-group .btn-group {
  display: flex;
}

.is-flex-fill {
  flex: 1;
}


// MODALS
.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
  display: block;
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}

.ReactModal__Content.modal-dialog {
  border: none;
  background-color: transparent;
}
